<template>

    <div class="calls-container">
        <div class="calls-inner" 
            :style="modalWindow ? { 'pointer-events': 'none' } : ''"
        >
            <SelectBox 
                :selectBoxValues="selectBoxVal"
                @filterIsChanged="changeFilter">
            </SelectBox>

            <table class="calls-table" ref="calls_table">
                <tr class="calls-table-header">
                    <th>ID звонка</th>
                    <th>Комментарий к звонку</th>
                    <th>Абонент</th>
                    <th>Длительность</th>
                </tr> 
                <tr v-for="(row, index) in outputArray"  
                    :key="row.id" 
                    class="calls-table-row"
                >
                    <template v-for="(cell, key) in row">
                            <td v-if="cell.isEdited === false && key !== 'id'"
                                :key="key"
                                @dblclick="cell.isEdited = true; focusOnInput()"
                                @click="setSelectedCell(index, key, row.id)"
                                @contextmenu="setSelectedCell(index, key, row.id)"
                                :data-cell-type="key"
                                :data-row-index="index"
                                :class="{ 'selected-cell': cell.isSelected }"
                            >
                                {{ cell.value }}
                            </td>
                            <td v-else-if="key !== 'id'"
                                :key="key"
                                @click="setSelectedCell(index, key, row.id)"
                                @contextmenu="setSelectedCell(index, key, row.id)"
                                :data-cell-type="key"
                                :data-row-index="index"
                                :class="{ 'selected-cell': cell.isSelected }"
                            >
                                <input 
                                    type="text" 
                                    name="cell-input" 
                                    v-model.trim="cell.value" 
                                    @blur="cell.isEdited = false; addEditCell({ row: filtredArray[index], cell: key })" 
                                    ref="input"
                                />
                            </td>
                    </template>
                </tr>
            </table>

            <div class="calls-table-buttons">
                <div class="group-buttons">
                    <button class="calls-table-btn" @click="showMore">Показать ещё</button>
                    <button class="calls-table-btn" @click="callModal($event, 'insert')">Новая строка</button>
                </div>
                <button class="calls-table-btn" @click="saveChanges">Сохранить изменения</button>
            </div>

            <TablePages 
                :output-pages="4" 
                :total-pages="totalPages" 
                ref="tablePages"
                @selectPage="toPage"
            >
            </TablePages>

            <transition name="slide-fade">
                <div v-if="message" class="save-message" :class="outputError ? 'error': 'no-error'">
                    <h3 v-if="!outputError">Изменения сохранены!</h3>
                    <h3 v-else>{{ outputError }}</h3>
                </div>
            </transition>
        </div>

        <ContextMenu
            :dataMenu="mainContextMenu"
            :parent="''"
            :child = "'first-child'"
            ref="main"
            @doAction="doActionOfContextMenu"
            @requestOnChildMenu="callChildMenu"
        >
        </ContextMenu>

        <ContextMenu
            :dataMenu="firstChildMenu"
            :parent="'main'"
            :child="''"
            ref="first-child"
            @doAction="doActionOfContextMenu"
            @requestOnChildMenu="callChildMenu"
        >
        </ContextMenu>
      
        <transition name="slide-fade-modal">
            <ModalCalls v-if="modalWindow" 
                :callData="callObj"
                :sourceData="callsTableData"
                :action="modalAction"
                :requiredCells="['call_id', 'abonent', 'call_time']"
                :validDataType="['call_time']"
                :uniqueValues="{ call_id: callObj.call_id.value }"
                @doAction = "actionAfterModal"
                @cancel="modalWindow = false">
            </ModalCalls>
        </transition>
        <div class="modal-background" v-if="modalWindow"></div>
    </div> 

</template>

<script>
    import ContextMenu from '../components/ContextMenu.vue';
    import SelectBox from '../components/SelectBox.vue';
    import ModalCalls from './ModalCalls.vue';
    import TablePages from './TablePages.vue';
    import { mainContextMenu,  firstChildContextMenu, selectBoxValues, testCallsData } from '../consts';
    import { requiredCells, uniqueValues, validDataType } from '../consts'; 
    import validators  from '../validators';

    export default {
        name: 'CallsTable',
        components: {
            ContextMenu,
            SelectBox,
            ModalCalls,
            TablePages
        },
        data(){
            return {
                id: localStorage.getItem('id') ?  localStorage.getItem('id') : 10,   //Проблема отсутствия уникальных ключей в массие для корректного отображения данных
                callsTableData: localStorage.getItem('callsTableData') ? JSON.parse(localStorage.getItem('callsTableData')) : testCallsData,
                message: null,

                mainContextMenu: mainContextMenu,
                firstChildMenu: firstChildContextMenu,

                currentCell: null,
                currentCellCoords: null,
                previousCell: null,

                typeSort: null,
                sortOn: null,

                modalWindow: null,
                callObj: {},
                modalAction: null,

                selectBoxVal: selectBoxValues,
                filtredArray: null,
                allowedRecords: 2,
                selectedFilter: 2,

                errors: [],
                outputError: null,
                newRows: [],
                editCells: [],
                requiredCells,
                uniqueValues,
                validDataType,
            }
        },
        computed: {   
            outputArray(){
                return this.getOutputArray(this.filtredArray);
            },    
            totalPages(){
                return Math.ceil(this.callsTableData.length / this.allowedRecords);
            }
        },
        methods: {
            toPage(data){
                let [selectedPage, pageIndex] = [data.selectedPage, data.pageIndex];

                if(pageIndex === 0){
                    this.filtredArray = this.callsTableData.slice(0, this.allowedRecords);
                } 
                else if(pageIndex === this.totalPages - 1){
                    this.filtredArray = this.callsTableData.slice((selectedPage * this.allowedRecords - this.allowedRecords));
                }
                else {
                    let leftSide = pageIndex * this.allowedRecords;
                    let rightSide = leftSide + this.allowedRecords;

                    this.filtredArray = this.callsTableData.slice(leftSide, rightSide);
                }
            },
            addEditCell(obj){
                if(this.newRows.findIndex(newRow => newRow.id === obj.row.id) < 0){
                    if(this.editCells.length > 0){
                        (this.editCells.findIndex(item => obj.row.id === item.row.id && obj.cell === item.cell) < 0) && this.editCells.push(obj);
                    } 
                    else {
                        this.editCells.push(obj);
                    }
                }
            },
            validRequiredCells(requiredCells, row){
                return validators.validRequiredCells(requiredCells, row);
            },
            validUniqueValues(uniqueValues, sourceData, row){
                return validators.validUniqueValues(uniqueValues, sourceData, row);
            },
            validTypes(validDataType, row){
                return validators.validTypes(validDataType, row);
            },
            validNewRows(){
                for(let row of this.newRows){
                    if(this.errors.length > 0){
                        break;
                    }
                    
                    let invalidRequired = this.validRequiredCells(this.requiredCells, row);
                    invalidRequired && this.errors.push(invalidRequired);
                    
                    let invalidUniqVal = this.validUniqueValues(this.uniqueValues, this.filtredArray, row);
                    invalidUniqVal && this.errors.push(invalidUniqVal);
                    
                    let invalidTypes = this.validTypes(this.validDataType, row);
                    invalidTypes && this.errors.push(invalidTypes);
                
                }
            },
            validCells(){
                for(let item of this.editCells){
                    if(this.errors.length > 0){
                        break;
                    }

                    if(this.requiredCells.includes(item.cell)){
                        let invalidRequired = this.validRequiredCells([item.cell], item.row);
                        invalidRequired && this.errors.push(invalidRequired);    
                    }

                    if(this.uniqueValues.includes(item.cell)){
                        let invalidUniqVal = this.validUniqueValues([item.cell], this.filtredArray, item.row);
                        invalidUniqVal && this.errors.push(invalidUniqVal);
                    }

                    if(this.validDataType.includes(item.cell)){
                        let invalidTypes = this.validTypes([item.cell], item.row);
                        invalidTypes && this.errors.push(invalidTypes);
                    }
                }
            },
            callModal(event, type){
                if(type === 'insert'){
                    this.callObj = {
                        id: ++this.id,
                        call_id: { value: "", isSelected: false, isEdited: false, type: "String", name: "ИД звонка" },
                        comment: { value: "", isSelected: false, isEdited: false, type: "String", name: "Комментарий к звонку" },
                        abonent: { value: "", isSelected: false, isEdited: false, type: "String", name: "Абонент"  },
                        call_time: { value: "", isSelected: false, isEdited: false, type: "Time", name: "Длительность" }
                    }
                } 
                else {
                    this.callObj = JSON.parse(JSON.stringify(this.filtredArray[this.currentCellCoords.rowIndex]));
                }
                this.modalAction = type;
                this.modalWindow = true;
            },
            actionAfterModal(data){
                if(data.action === 'edit'){
                    for(let key in this.filtredArray[this.currentCellCoords.rowIndex]){
                        this.filtredArray[this.currentCellCoords.rowIndex][key] = data.row[key];
                    }
                    this.currentCell = this.callsTableData[this.currentCellCoords.rowIndex][this.currentCellCoords.cellName];
                } 
                else {
                    if(this.filtredArray){
                        this.filtredArray.push(data.row);
                    }
                    this.callsTableData.splice(this.allowedRecords, 0, data.row);
                }
                this.modalWindow = false;
            },
            showMore(){
                if(this.filtredArray.length !== this.callsTableData.length){
                    this.allowedRecords += this.selectedFilter;

                    this.filtredArray =  this.callsTableData.filter((row, index) => index < this.allowedRecords); 
                }
            },
            getOutputArray(arr){
                if(this.typeSort){
                    this.sortCells(arr, this.currentCellCoords.cellName, this.typeSort, this.currentCell.type);

                    return arr;
                }
                return arr;
            },
            focusOnInput(){
                this.$nextTick(() => {
                    this.$refs.input[0].focus();
                });
            },
            doActionOfContextMenu(data){
                if(data.action === "asc" || data.action === "desc"){
                    this.typeSort = data.action;
                    this.sortOn = true;
                } 
                else {
                    eval(`this.${data.action}`);
                }
            },
            getTimeFromString(string){
                let timeArray = string.split(':');

                return new Date(0, 0, 0, 0, parseInt(timeArray[0]), parseInt(timeArray[1]));
            },
            sortCells(arr, field, typeSort, dataType='String'){
                switch(`${dataType} ${typeSort}`){
                    case "Time desc": 
                        arr.sort((a, b) => this.getTimeFromString(a[field]['value']) > this.getTimeFromString(b[field]['value']) ? -1 : 1);
                        break;
                    case "Time asc":
                        arr.sort((a,b) => this.getTimeFromString(a[field]['value']) > this.getTimeFromString(b[field]['value']) ? 1 : -1);
                        break;
                    case "String desc":
                        arr.sort((a, b) => a[field]['value'].localeCompare(b[field]['value'], 'ru'));
                        break;
                    case "String asc":
                        arr.sort((a, b) => b[field]['value'].localeCompare(a[field]['value'], 'ru'));
                        break;
                }
                this.typeSort = null;
            },
            async copyCellInner(){
                let selectedText = window.getSelection().toString();
                
                if(selectedText)
                    await navigator.clipboard.writeText(selectedText);
                                
            },
            async insertCellInner(){
                let text = await navigator.clipboard.readText();

                this.currentCell.value = text;
            },
            setSelectedCell(index, key, id) {    
                this.previousCell = this.currentCell;  
                this.currentCell = this.outputArray[index][key];
                this.currentCellCoords = { "rowIndex": index, "cellName": key, "rowId": id };

                if(this.previousCell === null) {
                    this.currentCell.isSelected = true;
                } 
                else {
                    if(this.currentCell !== this.previousCell){
                        this.currentCell.isSelected = true;
                        this.previousCell.isSelected = false;
                    }
                }
            },
            getSelectedCellCoords(){
                let selectedCell = document.querySelector('.selected-cell');
                let selectedRow = selectedCell.closest('tr');
                
                return [selectedCell.cellIndex, selectedRow.rowIndex];
            },
            insertRow(){
                let selectedRow =  this.currentCellCoords.rowIndex;

                let newData = {
                    id: ++this.id,
                    call_id: { value: "", isSelected: false, isEdited: false, type: "String", name: "Ид звонка" },
                    comment: { value: "", isSelected: false, isEdited: false, type: "String", name: "Комментарий к звонку" },
                    abonent: { value: "", isSelected: false, isEdited: false, type: "String", name: "Абонент"  },
                    call_time: { value: "", isSelected: false, isEdited: false, type: "Time", name: "Длительность" }
                }

                if(this.filtredArray){
                    this.filtredArray.splice(selectedRow + 1, 0, newData)
                }
                this.callsTableData.splice(selectedRow + 1, 0, newData);

                this.newRows.push(this.filtredArray[selectedRow + 1]);
                
                if(this.allowedRecords){
                    this.allowedRecords++;
                }
            },
            removeRow(){
                if(this.filtredArray){
                    this.filtredArray.splice(this.currentCellCoords.rowIndex, 1);
                } 
                this.sortOn ? this.callsTableData.splice(this.callsTableData.findIndex(item => item.id === this.currentCellCoords.rowId), 1) : 
                    this.callsTableData.splice(this.currentCellCoords.rowIndex, 1);
                     
                // if(this.allowedRecords){
                //     if(this.allowedRecords == 1){
                //         this.allowedRecords--;
                //     }
                // }
            },
            saveChanges(){
                this.currentCell !== null ? this.currentCell.isEdited = false : this.currentCell;
                this.currentCell !== null ? this.currentCell.isSelected = false : this.currentCell;

                if(this.newRows.length !== 0){
                    this.validNewRows();
                }

                if(this.editCells.length !== 0) {
                    this.validCells();
                }

                if(this.errors.length === 0){
                    this.errors = [];
                    this.newRows = [];
                    this.editCells = [];
                    this.outputError = null;

                    localStorage.setItem('callsTableData', JSON.stringify(this.callsTableData));
                    localStorage.setItem('id', this.id);
                } else {
                    this.outputError = this.errors[0];
                    this.errors = [];
                }
                    
                this.message = true;

                setTimeout(() => {
                    this.message = false;
                }, 2000);
            },
            changeFilter(data){
                this.selectedFilter = data.option;

                data.option === "all" ? this.allowedRecords = this.callsTableData.length : this.allowedRecords = data.option;

                this.filtredArray = this.callsTableData.filter((row, index) => index < this.allowedRecords);

                this.sortOn = null;
                this.typeSort = null;

            },
            callMenu(e){
                let clickedElem = e.target;
                
                this.$refs.main.hideMenu();
                this.$refs['first-child'].hideMenu();

                if(clickedElem.closest('.calls-table-row')){
                    e.preventDefault();

                    this.$refs.main.showMainMenu(e);
                }
            },
            hideAllMenu(){
                this.$refs.main.hideMenu();
                this.$refs['first-child'].hideMenu();
            },
            callChildMenu(data){
                this.$refs[data.childMenu].showChildMenu(data.parent);
            },    
            keyDownListener(e){
    
                if(this.currentCell !== null && !this.currentCell.isEdited && !this.modalWindow){
                    let coords = this.getSelectedCellCoords();
                    let x = coords[0];
                    let y = coords[1];
                    
                    switch(e.key){
                        case 'ArrowDown': 
                            y++;
                            break;
                        case 'ArrowUp':
                            y--;
                            break
                        case 'ArrowLeft':
                            x--;
                            break
                        case 'ArrowRight':
                        case 'Tab':
                            x++;
                            break
                        default:
                            return;
                    } 
                    let callsTable = this.$refs.calls_table;
                                        
                    if((x < callsTable.rows[0].cells.length & x >= 0) && (y < callsTable.rows.length & y >= 1)){
                        let cell = callsTable.rows[y].cells[x];
                        let cellType = cell.getAttribute('data-cell-type');
                        let cellIndex = cell.getAttribute('data-row-index');

                        this.setSelectedCell(cellIndex, cellType)
                    }                 
                    
                } 
            }
        },
        created(){
            if(this.allowedRecords && this.callsTableData) {
                this.filtredArray = this.callsTableData.filter((row, index) => index < this.allowedRecords);
            }
        },
        mounted() {
            document.addEventListener('keydown', this.keyDownListener);
            document.oncontextmenu = this.callMenu;
            document.onclick = this.hideAllMenu;
        },
        unmounted(){
            document.removeEventListener('keydown', this.keyDownListener);
            document.removeEventListener('oncontextmenu', this.callMenu);
            document.removeEventListener('onclick', this.hideAllMenu);
        }
    }

</script>

<style scoped lang="less">
    @import url('../style/commons/mixins.less');

    .modal-background {
        width: 100%; 
        height: 100%;
        opacity: 0.7;
        background: #000;

        position: fixed; 
        top: 0; 
        left: 0;
        z-index: 9999;
    }
    .calls-container {
        max-width: 128rem;

        padding-top: 4rem;
        margin: 0 auto;
    }
    .calls-table {
        table-layout: fixed;
        width: 100%;
        border-radius: 1rem;
        border-spacing: 0;
        border-collapse: collapse;

        text-align: center;
        font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
        font-size: 1.4rem;
        
        margin-bottom: 2rem;
    }
    th {
        background: #BCEBDD;
        color: rgb(15, 8, 8);

        padding: 1rem 2rem;
    }
    th {
        .border-table();

        &:last-child {
            border-top-right-radius: 1rem;
        }

        &:first-child {
            border-top-left-radius: 1rem;
            text-align: left;
        }
    }
    td {
        height: 3rem;
        background: #F8E391;
        word-wrap: break-word;
        .border-table();
    }
    tr {
        &:last-child td:first-child {
            border-radius: 0 0 1rem 0;
        }

        &:last-child td:last-child {
            border-radius: 0 0 0 1rem;
        }
    }
    .calls-table-buttons {
        display: flex;
        justify-content: space-between;
    }
    .group-buttons {
        .calls-table-btn:first-child {
            margin-right: 0.5rem;
        }
    }
    .calls-table-btn {
        border-radius: 0.3rem;
        background: rgb(64,199,129);
        box-shadow: 0 -0.3rem rgb(53,167,110) inset;
        color: white;
        border: none;

        font-weight: 700;
        padding: .8em 1em calc(.8em + 3px);
        transition: 0.2s;
        cursor: pointer;

        &:hover {
            background: rgb(53, 167, 110);
        }

        &:active {
            background: rgb(33,147,90);
            box-shadow: 0 0.3rem rgb(33,147,90) inset;
        }
    }
    
    .selected-cell {
        outline: 0.4rem solid #066106;
    }
    .calls-table-row input {
        width: 100%;
        height: 100%;
        background-color: rgb(29, 162, 224);
        border: none;

        text-align: center;
    }
    .calls-pushed-button {
        background-color: #066106;
    }
    .slide-fade-enter-active {
        transition: all .3s ease;
    }
    .slide-fade-leave-active {
        transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
    }
    .slide-fade-enter, .slide-fade-leave-to {
        opacity: 0;
    }

    .slide-fade-modal-enter-active, .slide-fade-modal-leave-active{
        transition: all .3s ease;
    }
    .slide-fade-modal-enter, .slide-fade-modal-leave-to {
        transform: translateY(-100px);
    }
    .error {
        background-color: #dd0a0a;
    }
    .no-error{
        background-color: #F8E391;
    }
    .save-message{
        display: flex;
        position: fixed;
        width: 30rem;
        min-height: 5rem;
        border: 0.1rem solid;
        border-radius: 0.4rem;
        font-size: 1.6rem;
        
        bottom: 0;
        margin-bottom: 0.5rem;

        h3 {
            margin: auto;
            text-align: center;
        }
    }
    
</style>