<template>

    <div class="context-menu"
        :data-parent="parent"
        :data-child="child"
        :style="child !== '' ? styleParent : styleChildren"
        ref="menu" 
    >
       <ul v-for="(value, index) in dataMenu" v-bind:key="index">
           <li v-if="value.type == 'multy'" 
               @mouseover="requestOnChildMenu" 
               :data-action="value.action">
               <a href="#">{{ value.text }}</a>
           </li>
           <li v-else 
               @mousedown="doAction" 
               :data-action="value.action">
               <a href="#">{{ value.text }}</a>
           </li>
       </ul>
   </div>

</template>

<script>
   export default {
       name: 'ContextMenu',
       props: {
          dataMenu: [],
          parent: String,
          child: String,
       },
       data(){
          return {
            styleChildren: {
                display: 'none',
            },
            styleParent: {
                display: 'none',
            },
          }
       },
       methods: {
           doAction(e){
               let action = e.target.closest('li').getAttribute('data-action');

               this.$emit('doAction',{
                   action: action
               });
           },
           requestOnChildMenu(e){
                let parentMenu =    e.target.closest('div');
                let childMenu = parentMenu.getAttribute('data-child');

                this.$emit('requestOnChildMenu',{
                    childMenu: childMenu,
                    parent: parentMenu
               });
           },
           showChildMenu(parent) {
               let childMenu = this.$refs.menu;
               let parentMenu = parent;

               this.styleChildren = {
                    display: 'block',
                    borderLeft: '0px',
                };

               this.$nextTick(() => {
                    this.$refs.menu.style.left = parentMenu.offsetLeft + parentMenu.offsetWidth + "px";
                    this.$refs.menu.style.top = parentMenu.offsetTop + parentMenu.offsetHeight - childMenu.offsetHeight + "px";
                }); 
           },
           showMainMenu(e){             
                this.styleParent = {
                    display: 'block',
                    left: e.pageX + "px",
                    top: e.pageY + "px",
               };
           },
           hideMenu() {
                this.styleParent = {
                    display: 'none'
                };
                this.styleChildren = {
                    display: 'none'
                };
           },
       },
   }
</script>

<style scoped lang="less">
   .context-menu {
       background: lightgray;
       border: 0.1rem solid black;
       font-size: 1.4rem;

       position: absolute;
       text-align: center;
   }

   .context-menu ul {
       min-width: 15rem;
       list-style: none; 

       padding: 0rem;
       margin: 0rem;
   }

   .context-menu ul li {
       border: 0.1rem solid black;
       cursor: pointer; 

       padding-bottom: 0.7rem;
       padding-top: 0.7rem;
   }

   .context-menu ul li a {
       text-decoration: none;
       color: black;
   }

   .context-menu ul li:hover {
       background: darkgray;
   }
</style>