<template>
    
    <div class="modal-calls">
        <h2 v-if="action === 'insert'" class="modal-title">Новый звонок</h2>
        <h2 v-else class="modal-title">Редактирование звонка</h2>

        <form action="" class="modal-form">
            <template v-for="(item, key) in outputRow">
                <div class="modal-item" v-if="key !== 'id'" :key="key">
                    <p class="input-label">{{ item.name }}</p>
                    <input type="text" class="calls-id" v-model.trim="item.value"/> 
                </div>
            </template>
            <p class="validation-error" v-if="outputError">{{ outputError }}</p>
        </form>

        <div class="modal-buttons">
            <button v-if="action === 'insert'" 
                class="modal-btn-add" 
                @click="checkDataModal">Добавить
            </button>
            <button v-else
                class="modal-btn-add" 
                @click="checkDataModal">Сохранить
            </button>
            <button class="modal-btn-cancel" @click="$emit('cancel')">Отменить</button>
        </div>
    </div>
    
</template>

<script>

   export default {
       name: 'ModalCalls',
       props: {
        sourceData: {},
        callData: {},
        requiredCells: [],
        validDataType: [],
        uniqueValues: [],
        action: String,
       },
       data(){
         return {
            outputRow: {},
            errors: [],
            outputError: null
         }
       },
       methods: {
        checkDataModal(){
            this.validRequiredCells();
            this.validUniqueValues();
            this.validTypes();

            if(this.errors.length === 0){
               this.outputError = null;
             
               this.$emit('doAction',{ row: this.outputRow, action: this.action });       
            }
            else {
                this.outputError = this.errors[0];
                this.errors = [];
            }
        },
        validRequiredCells(){
            for(let cell of this.requiredCells){
                if(this.outputRow[cell]['value'] === '' || this.outputRow[cell]['value'] === null){
                    this.errors.push(`Не заполнено обязательное поле - ${cell}`);
                }
            }
        },
        validUniqueValues(){
            if(this.action === 'insert'){
                for(let cell in this.uniqueValues){
                    if(this.sourceData.filter(row => row[cell]['value'] === this.outputRow[cell]['value']).length !== 0){
                        this.errors.push(`Строка с указанным значением ${cell} - ${this.outputRow[cell]['value']} уже существует`);
                        break;
                    } 
                }
            } 
            else {
                for(let cell in this.uniqueValues){
                    if(this.uniqueValues[cell] !== this.outputRow[cell]['value']){
                        if(this.sourceData.filter(row => row[cell]['value'] === this.outputRow[cell]['value']).length !== 0){
                            this.errors.push(`Строка с указанным значением ${cell} - ${this.outputRow[cell]['value']} уже существует`);
                            break;
                        } 
                    }
                }
            }
        },
        validTypes(){
            for(let cell of this.validDataType){
                switch(this.outputRow[cell]['type']){
                    case 'Time':
                        this.validTime(this.outputRow[cell]['value']);
                        break;
                    default:
                        return
                }
            }
        },
        validTime(value){
            let re = /^\d\d:\d\d$/;

            if(value.match(re) === null){
                this.errors.push('Некорректный формат времени, допускается: mm:ss');
            }
        },
       },
       created(){
            this.outputRow =  JSON.parse(JSON.stringify(this.callData));         
       },
   }
</script>

<style scoped lang="less">
    .validation-error{
        display: block;
        max-width: 50rem;
        width: 100%;
        color: #dd1515e7;
        font-size: 1.2rem;

        text-align: center;
    }
    .modal-calls {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        max-width: 70rem;
        width: 100%;
        height: 60rem;
        border: 0.1rem solid black;
        background-color: #f1ebeb;
        border-radius: 0.4rem;

        position: fixed;
        z-index: 10000;
        margin: auto;
        top: 0; 
        left: 0;
        bottom: 0; 
        right: 0;

        padding-top: 4rem;
    }
    .modal-form {
        height: 30rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.4rem;

        input {
            height: 4rem;
            width: 40rem;
            border-radius: 0.4rem;
            border: none;

            &:hover{
                background-color: #BCEBDD;;
            }

            text-align: center;

            margin-bottom: 2rem;
        }
    }
    .modal-title {
        text-align: center;
        font-size: 1.9rem;
    }
    .modal-buttons {
        text-align: end;

        button {
            width: 12rem;
            height: 3.5rem;
            border: none;
            border-radius: 0.3rem;

            cursor: pointer;
        }
    }
    .modal-btn-add {
        background: rgb(64,199,129);
        box-shadow: 0 -0.3rem rgb(53,167,110) inset;
        transition: 0.2s;
    }
    .modal-btn-add:hover {
        background: rgb(53, 167, 110);
    }
    .modal-btn-add:active {
        background: rgb(33,147,90);
        box-shadow: 0 0.3rem rgb(33,147,90) inset;
    }
    .modal-btn-cancel {
        background: #F8E391;
        box-shadow: 0 -0.3rem #beab5e inset;
    }
    .modal-btn-cancel:hover {
        background: #d3bf71;
    }
    .modal-btn-cancel:active {
        background: #b4a25a;
        box-shadow: 0 -0.3rem #beab5e inset;
    }
</style>
