<template>

   <div class="not-found">
        <h1 class="not-found-title">Страница не найдена</h1>
        <router-link to="/calls/table" class="router-link">
            <button class="not-found-btn">На главную</button>
        </router-link>
   </div>

</template>

<script>
   export default {
       name: 'NotFound',
   }
</script>

<style scoped lang="less">
    .not-found-title {
        text-align: center;
    }
    .not-found-btn {
        display: block;
        width: 14rem;
        height: 3rem;
        background-color: rgb(44, 197, 44);
        border: none;
        color: white;
        border-radius: 0.3rem;
        
        margin: 0 auto;
    }
    .router-link {
        text-decoration: none;
    }
</style>