<template>

    <span class="select-fixff">
        <select 
            @change="$emit('filterIsChanged', { option: filter })"
            name="filter"  
            v-model="filter"
        >
            <option value="label" disabled selected hidden>Выводить:</option>
            <option v-for="item in selectBoxValues" 
                :key="item.value" 
                :value="item.value"
            >
                {{ item.text }}
            </option>
        </select>
    </span>

</template>

<script>
   export default {
       name: 'SelectBox',
       props: {
        selectBoxValues: []
       },
       data(){
         return {
            filter: "label",
         }
       },
   }
</script>

<style scoped lang="less">

select {
    border: 0.1rem solid #e0e0e0;
    border-radius: 0.4rem;
    height: 3.6rem;
    max-width: 100%;

    box-shadow: inset 0.1rem 0.1rem 0.1rem 0rem rgba(0, 0, 0, 0.1);
    background: #fff;
    outline: 0 none;

    line-height: 3.6rem;
    padding: 0 0.5rem;
    margin-bottom: 2rem;
}
@-moz-document url-prefix() {
    select {
        -moz-appearance: none;
        appearance: none;
    }
    .select-fixff {
        display: block;
        float: left;

        position: relative;

        &:before {
            content: '';
            display: table;
        }

        &:after {
            content: " ";
            display: table;
            height: 0;
            width: 0;
            border: solid #fff transparent;
            border-left-color: #333;
            border-width: 0.4rem;

            clear: both;
            right: 0.8rem;
            top: 50%;
            position: absolute;
            pointer-events: none;
            transform: rotate(90deg);
        }
    }
}

</style>