<template>
    <div class="table-pages">
        <button class="first-page-btn arrow btn"
            :disabled="currentPage.value === 1 || totalPages <= 0"
            @click="changePage(1)"
        >
            &lt;&lt;
        </button>
        <button class="left-one-btn arrow btn"
            :disabled="currentPage.value === 1 || totalPages <= 0"
            @click="toOneLeft"
        >
            &lt;
        </button>
        <button class="hide-left-btn btn" v-if="otherLeft">...</button>
        <button class="output-btn btn" v-for="page in outputArray"
            :key="page.value"
            @click="page.isActive = true; changePage(page.value)"
            :disabled="page.isActive"
            :class="page.isActive ? 'selected-page' : 'unselected-page'"
        >
            {{ page.value }}
        </button>
        <button class="hide-rigth-btn btn" v-if="otherRight">...</button>
        <button class="right-one-btn arrow btn"
            :disabled="currentPage.value === totalPages || totalPages <= 0"
            @click="toOneRight"
        >
            &gt;
        </button>
        <button class="last-page-btn arrow btn"
            :disabled="currentPage.value === totalPages || totalPages <= 0"
            @click="changePage(totalPages)"
        >
            &gt;&gt;
        </button>
    </div>
</template>

<script>

   export default {
       name: 'TablePages',
       props: {
        totalPages: Number,
        outputPages: Number,
       },
       data(){
         return {
            leftPage: 0,
            rightPage: 3,
            otherRight: null,
            otherLeft: null,
            pages: [],
            currentPage: null,
            previousPage: null,
         }
       },
       computed: {
        outputArray(){
            if(this.totalPages <= this.outputPages){
                return this.pages;
            }
            else {
                return this.pages.slice(this.leftPage, this.rightPage + 1);
            }
        },
       },
       methods: {
        toFirstPage(){
            this.leftPage = 0;
            this.rightPage = JSON.parse(JSON.stringify(this.outputPages)) - 1;

            this.otherLeft = false;
            this.totalPages > this.outputPages ? this.otherRight = true : this.otherRight = false;
        },
        toLastPage(){
            this.rightPage = this.totalPages - 1;
            this.leftPage = this.rightPage - (this.outputPages - 1);

            this.otherRight = false;
            this.totalPages > this.outputPages ? this.otherLeft = true : this.otherLeft = false;
        },
        toOneLeft(){
            let leftPage = this.currentPage.value - 1;

            this.changePage(leftPage);
        },
        toOneRight(){
            let rightPage = this.currentPage.value + 1;

            this.changePage(rightPage);
        },
        changePage(value){
            let pageIndex = value - 1;

            this.previousPage = this.currentPage;
            this.currentPage = this.pages[pageIndex];
            this.previousPage.isActive = false;
            this.currentPage.isActive = true;

            if(pageIndex === this.rightPage){
                this.setRightPage(pageIndex);
            }
            else if(pageIndex === this.leftPage){
                this.setLeftPage(pageIndex);
            } 
            else {
                pageIndex === 0 && this.toFirstPage();
                pageIndex === this.totalPages - 1 && this.toLastPage();
            }

            this.$emit('selectPage',{ selectedPage: value, pageIndex, pages: this.pages }); 
        },
        setRightPage(pageIndex){
            let leftElems = (this.totalPages - 1) - pageIndex;

            if(leftElems === 1 || leftElems > 2){
                this.rightPage += 1;
                this.leftPage = this.rightPage - (this.outputPages - 2)
            
                this.otherLeft = true;
                this.otherRight = true;

                if(leftElems == 1){
                    this.otherRight = false;
                }
            }

            if(leftElems === 2){
                this.rightPage += 2;
                this.leftPage = this.rightPage - (this.outputPages - 1);

                this.otherRight = false;
                this.otherLeft = true;
            }
        },
        setLeftPage(pageIndex){
            let leftElems = pageIndex;

            if(leftElems === 1 || leftElems > 2){
                this.leftPage -= 1;
                this.rightPage = this.leftPage + (this.outputPages - 2)
               
                this.otherRight = true;
                this.otherLeft = true;

                if(leftElems == 1){
                    this.otherLeft = false;
                }

            }

            if(leftElems === 2){
                this.leftPage -= 2;
                this.rightPage = this.leftPage + (this.outputPages - 1);

                this.otherRight = true;
                this.otherLeft = false;
            }

        },
        updatePages(){
            this.leftPage = 0;
            this.rightPage = JSON.parse(JSON.stringify(this.outputPages)) - 1;
            this.otherLeft = false;
            this.totalPages > this.outputPages ? this.otherRight = true : this.otherRight = false;

            for(let i=0; i < this.totalPages; i++){
                this.pages[i] = { isActive: false, value: i + 1 };
            }
            this.previousPage = null;
            this.currentPage = this.pages[0];
            this.currentPage.isActive = true;
        },

       },
       watch: {
        totalPages(){
            this.pages = [];

            this.totalPages > 0 && this.updatePages();
        },
       },
       created(){
         this.updatePages();
       }, 
   }
</script>

<style scoped lang="less">

    .unselected-page {
        color: #000000; 
        background-color: #ffffff;
    }
    .table-pages {
        display: flex;

        padding-top: 2rem;
        
        button {
            width: 3rem;
            height: 3rem;
            border: 0.1rem solid rgb(16, 136, 16);
        }
    }
    .btn {
        color: #000000; 
        background-color: #ffffff;
    }
    .selected-page {
        color: #ffffff;
        background-color: rgb(16, 136, 16);
    }
    .arrow {
        &:hover{
            box-shadow: 0rem 0.5rem 1rem 0.2rem rgba(34, 60, 80, 0.2) inset;
        }
    }
</style>
